*{
        margin:0;
        padding:0;
}
.corpo{
        height:70%;
        display:flex;
        justify-content:center;
       align-items:center;
       flex-direction:column;
}
header{
        display: flex;
        justify-content: flex-end;
}
.btnlogin{
        height: 40px;
        width: 100px;
        background-color:royalblue;
        margin-top: 10px;
        border: none;
        border-radius: 20px;
}
.btnlogin:hover{
        cursor: pointer;
        
}
.login{
        color: white;
        font: bold;
}
.login:hover{
        text-decoration: none;
}
.imagem{
       width:300px;
       height:168px;
        background-image:url('google.png');
}
input{
        width:570px;
        height:48px;
        font-size:15px;
        margin-bottom:20px;
        padding:15px;
        padding-left:25px;
        border:1px;
        border-radius:30px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.3);	
}
.btn{
        width:140px;
        height:30px;
        font:15px arial,sans-serif;
        background-color:#F8F9FA;
        margin:11px 4px;
        font-size:14px;
        border:none;
        border-radius:4px;
}
.btn:hover{
            box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
            border:1px solid #dadce0;
            color:#202124;
            cursor:pointer;
}
.footercima{
          background:#eeeeee;
          width:100%;
          display:flex;
          align-items:center;
          justify-content:space-between;
          height:48px;  
          position:fixed;
          bottom:46px;
          border-bottom:2px solid #dadce0;
          left:0; 
}
h{
       margin:20px;
       padding:10px;
      font:15px Arial,sans-serif;
}
.footer{
        background:#eeeeee;
        width:100%;
        padding:0px 20px;
        display:flex;
        align-items:center;
        justify-content:space-between;
        height:46px;
        position:fixed;
        bottom:0;
        left:0;
        
}

ul{
      display:flex;
      margin-left:15px;
      margin-right:40px;
      margin-bottom:5px;
      
      list-style:none;
      flex-direction:row;
}
li{
     padding:15px;
}
a{
     font:14px Arial,sans-serif;
     color:black;
    text-decoration:none;
}
a:hover{
         text-decoration:underline;
}